<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./index2.css">
  <title>Document</title>
</head>

<body>
  <div class="wrapper">
    <!-- 雾天 -->
    <div class="fog">
      <ul class="cloud1">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
      <ul class="cloud2">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
      <ul class="fogs">
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
    <!-- 小雨 -->
    <div class="light-rain">
      <ul>
        <li class="rain"></li>
        <li class="rain"></li>
        <li class="rain"></li>
        <li class="rain"></li>
        <li class="rain"></li>
      </ul>
      <ul class="cloud">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
    <!-- 大雨 -->
    <div class="heavy-rain">
      <ul>
        <li class="rain"></li>
        <li class="rain"></li>
        <li class="rain"></li>
        <li class="rain"></li>
        <li class="rain"></li>
        <li class="rain"></li>
        <li class="rain"></li>
        <li class="rain"></li>
        <li class="rain"></li>
        <li class="rain"></li>
        <li class="rain"></li>
        <li class="rain"></li>
      </ul>
      <ul class="cloud">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
    <!-- 雷阵雨 -->
    <div class="breezy">
      <ul>
        <li class="rain"></li>
        <li class="rain"></li>
        <li class="rain"></li>
        <li class="rain"></li>
        <li class="rain"></li>
        <li class="rain"></li>
        <li class="rain"></li>
        <li class="rain"></li>
        <li class="rain"></li>
        <li class="rain"></li>
        <li class="rain"></li>
        <li class="rain"></li>
      </ul>
      <ul class="cloud">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
    <!-- 阴天 -->
    <div class="overcast">
      <div class="sun"></div>
      <ul class="cloud2">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
    <!-- 夜晚晴天 -->
    <div class="night">
      <span class="moon"></span>
      <span class="spot1"></span>
      <span class="spot2"></span>
      <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
    <!-- 晴天 -->
    <div class="hot">
      <span class="sun"></span>
      <span class="sunx"></span>
    </div>
    <!-- 小雪 -->
    <div class="light-snow">
      <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
      <span class="snowe"></span>
      <span class="snowex"></span>
      <span class="stick"></span>
      <span class="stick2"></span>
      <span class="snowe">
    </div>
    <!-- 大雪 -->
    <div class="stormy">
      <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
      <span class="snowe"></span>
      <span class="snowex"></span>
      <span class="stick"></span>
      <span class="stick2"></span>
      <span class="snowe2"></span>
      <span class="snowex2"></span>
      <span class="stick3"></span>
      <span class="stick4"></span>
    </div>
    <!-- 多云 -->
    <div class="cloudy">
      <ul class="cloud1">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
      <ul class="cloud2">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
  </div>

</body>

</html>